* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.title {
  margin: 0;
  color: #deebf8;
  font-weight: 400;
  margin-left: auto;
}
.logo {
  height: 30px;
  margin-right: 7px;
}

main {
  background: url(../media/backlogo.png);
  background-repeat: no-repeat;
  background-position: right 50%;
  padding: 57px 27px;
  color: white;
}

.main--title {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.5em;
  color: #61dafb;
}
